* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 500px;
    margin: 10px auto;
    padding: 20px;
    gap: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.526);
}

h1 {
    display: flex;
    justify-content: center;
}

.logout {
    color: red;
    background-color: rgb(119, 255, 0);
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.adduser-form {
    display: flex;
    flex-direction: column;
    margin: 5px;
    gap: 10px;
}

.adduser-form input {
    padding: 10px;
    border-radius: 5px;
}

.adduser-form button {
    color: red;
    background-color: rgb(21, 255, 0);
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: aqua;
}

#user-table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}
th, td{
border: 1px solid black;
padding: 5px;
}