* {
    margin: 0;
    padding: 0;
}

.home-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.home-header img {
    width: 99.5vw;
    height: 300px;
    border: 1px  solid black;
    box-shadow: 0 0 5px blue;
    border-radius: 10px;
}

#dg {
    position: absolute;
    font-size: 100px;
    color: red;
    bottom: 5px;
    font-weight: bold;
    text-shadow: 0 0 10px yellow;
}
.grid-cards{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 30px ;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}